.create-story-container {
    max-width: 900px;
    margin: 20px auto;
    margin-top: 0px;
    padding: 15px;
    padding-top: 0px;
    font-family: "Barlow", sans-serif;
    color: #3f3734;
}

.page-title {
    font-family: "Nova Square", sans-serif;
    font-size: 50px;
    color: #ff8800;
    text-align: center;
    margin-bottom: 20px;
}

.classroom-info {
    font-family: "Barlow", sans-serif;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.topic-text {
    color: #3f3734;
    margin-bottom: 5px;
}

.prompt-text {
    color: #4f4643;
}

.audio-recorder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 15px;
}

.record-btn {
    background-color: #ff8800;
    border: none;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    cursor: pointer;
    color: white;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
}

.record-btn:hover {
    background-color: #cc6600;
}

.mic-icon,
.stop-icon {
    font-size: 100px;
    pointer-events: none;
}

.recording-status {
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #cc0000;
}

.separator {
    font-family: "Barlow", sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.story-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story-textarea {
    width: 80%;
    min-width: 800px;
    max-width: 1000px;
    font-family: "Barlow", sans-serif;
    font-size: 25px;
    line-height: 28px;
    padding: 12px 15px;
    border: 2px solid #3f3734;
    border-radius: 15px;
    resize: none;
    margin-bottom: 15px;
    color: #3f3734;
    background-color: #e2dedc;
}

.confirm-btn,
.back-btn {
    width: 200px;
    background-color: #ff8800;
    color: white;
    font-family: "Nova Square", sans-serif;
    font-size: 35px;
    line-height: 40px;
    border: none;
    border-radius: 15px;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.confirm-btn:hover,
.back-btn:hover {
    background-color: #cc6600;
}

.back-btn {
    justify-content: center;
}

.back-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}
