h1 {
    font-family: "Nova Square", sans-serif;
    color: #ff8800;
    font-size: 55px;
    line-height: 60px;
    text-align: center;
    margin-top: 40px;
}

.main-container {
    height: 92vh; /* Ensure it fills the viewport */
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.grid-container {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
}

.flashcard-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 10px;
}
