.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
  }

  .title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Menu buttons */
  .menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Space between buttons */
  }
  
  .menu-buttons button {
    background-color: #ff8800;
    color: white;
    border: none;
    padding: 30px 150px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
  }

  .menu-buttons button:hover {
    transition: 0.3s ease;
    background-color: #cc6600; /* Darker shade on hover */
  }

  .menu-buttons a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit color from button */
  }