html,
body {
    height: 100vh;
}

body {
    font-family: "Nova Square", sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    text-align: center;
    height: 80vh;
}

.title-container h1 {
    /*padding: 20px 45px 5px 45px;*/
    font-family: "Nova Square", sans-serif;
    color: #ff8800;
    font-size: 55px;
    line-height: 60px;
}

/* Aligning buttons in a column */
.button-group {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Spacing between buttons, adjust as needed */
}

button {
    background-color: #ff8800;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 25px 100px;
    font-family: "Nova Square", sans-serif;
    font-size: 40px;
    cursor: pointer;
}

.button-group button:hover {
    transition: 0.3s ease;
    background-color: #cc6600; /* Darker shade on hover */
}
