<header>
    <div class="logo">
        <a class="logo-image" (click)="onLogoClick()">
            <img src="../../../assets/StoryLoop_Logo.png" alt="Website Logo" />
        </a>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a routerLink="/about">About</a></li>
            <!--<li *ngIf="isLoggedIn"><a routerLink="/class">Class Stories</a></li>-->
            <li *ngIf="isLoggedIn"><a routerLink="/account">Account</a></li>
            <li *ngIf="isLoggedIn"><a (click)="onLogoutClick()">Logout</a></li>
        </ul>
    </nav>
</header>
