* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}
  
header {
  position: sticky; /* or fixed if you prefer */
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 20px;
  font-size: 24px;
  background-color: #f80;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.logo a {
  margin-right: auto;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links a {
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

.nav-links li {
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #cc6600;
}
