<header>
    <div class="logo">
        <a class="logo-image" (click)="onLogoClick()">
            <img src="../../../assets/StoryLoop_Logo.png" alt="Website Logo" />
        </a>
    </div>
    <nav>
        <ul class="nav-links">
            <li *ngIf="showRecordStoryLink">
                <a (click)="onRecordStoryClick()">Record A Story</a>
            </li>
            <li *ngIf="showMyStoriesLink">
                <a (click)="onMyStoriesClick()">My Stories</a>
            </li>
            <li><a (click)="onAboutClick()">About</a></li>
            <!--<li *ngIf="isLoggedIn"><a routerLink="/class">Class Stories</a></li>-->
            <li *ngIf="isLoggedIn" class="profile-dropdown">
                <i
                    class="material-icons user-icon"
                    (click)="toggleDropdown($event)"
                >
                    account_circle
                </i>
                <div class="dropdown-menu" [class.show]="isDropdownOpen">
                    <a (click)="onAccountClick()">Account</a>
                    <hr class="dropdown-divider" />
                    <a (click)="onLogoutClick()">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
</header>
