h1 {
  font-size: 32px;
  text-align: center;
  margin-top: 50px;
}

.flashcard-grid {
  display: grid;
  /* Each card must be at least 300px wide; the grid fits as many columns as it can */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 20px;
  gap: 40px;
  justify-items: center;   /* Centers the cards within each column */
  max-width: 1300px;       /* Limits grid's maximum width for a nice layout */
  margin: 0 auto;          /* Centers the grid container on the page */
}

.story-card {
  display: flex;
  width: 400px;   /* The minmax() above ensures this will fit in each column */
  height: 250px;  /* Increase as needed */
  background-color: #f0f0f0;
  border-radius: px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  border: #f80 4px solid;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: medium;
  color: black;
}
